$brown: #5A4B2D;

.top {
    height: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/off-white-background.jpg');
    background-position: center;
    background-size: cover;
    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        --background: transparent;
    }
    .logo {
        width: 90%;
        position: relative;
        left: -15px;
    }
}
.banner {
    background-image: url('../../../assets/img/main-girl.jpg');
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    .mission {
        height: 100%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .primary {
            color: $brown;
            font-size: 44px;
            margin-top:  5px;
            margin-bottom: 15px;
            font-family: "Spartwell";
        }
        .secondary {
            color:  var(--ion-color-primary);
            font-size: 24px;
            font-family: "Raleway";
            font-weight: 600;
        }
    }
}
.model {
    background-color: var(--ion-color-primary);
    text-align: center;
    font-family: "Raleway";
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}
.model-img {
    width: 100%;
    height: 400px;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    .label {
        background-color: rgba(255, 255, 255, 0.623);
        width: 100%;
        height: 150px;
        font-size: 40px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        color: $brown;
    }
}
.cognitive {
    background-image: url('../../../assets/img/cognitive.jpg');
}
.social {
    background-image: url('../../../assets/img/social.jpg');
}
.emotional {
    background-image: url('../../../assets/img/emotional.jpg');
}
.spacer {
    width: 100%;
    height: 10px;
}