$brown: #5A4B2D;

ion-toolbar {
    background: transparent;
    --background: transparent;
    img {
        height: 80px;
    }
}
.top {
    width: 100%;
    height: 700px;
    background-image: url('/assets/img/main.jpg');
    background-position: top center;
    background-size: cover;
}
.model {
    background-color: var(--ion-color-primary);
    text-align: center;
    font-family: "Raleway";
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}
.model-white {
    @extend .model;
    background-color: white;
    color: black;
}
.video {
    width: 100%;
    height: 400px;
    position: relative;
    .background-img {
        background-image: url('/assets/img/video-thumbnail.jpeg');
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .overlay {
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    ion-icon {
        font-size: 50px;
        color: white;
    }
}
.slide-container {
    position: relative;
    .back {
        color: white;
        font-size: 40px;
        position: absolute;
        z-index: 10;
        left: 20px;
        top: calc(50% - 10px);
    }
    .forward {
        color: white;
        font-size: 40px;
        position: absolute;
        z-index: 10;
        right: 20px;
        top: calc(50% - 10px);
    }
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}