<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>  
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>           
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="top">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="end">
        <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
      </ion-buttons>           
    </ion-toolbar>
    <img class="logo" src="assets/img/logo.png">
    <!-- <div class="title">
      <h1>stoneybrook hollow</h1>
      <p class="subtitle">reggio-inspired early learning studio</p>
    </div> -->
  </div>
  <div class="banner">
    <div class="mission">
      <div class="secondary">we cultivate</div>
      <div class="primary">curiosity</div>
      <div class="secondary">curiosity ignites</div>
      <div class="primary">motivation</div>
      <div class="secondary">motivation promotes</div>
      <div class="primary">child-led learning</div>
    </div>
  </div>
  <h2 class="model">what makes our model different?</h2>
  <swiper [pagination]="true" [autoplay]="true" [config]="slideOpts">
    <ng-template swiperSlide>
      <div class="model-img cognitive">
        <div class="label">cognitive</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/cognitive/9.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/cognitive/10.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/cognitive/11.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/cognitive/12.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/cognitive/13.jpg">
    </ng-template>
  </swiper>
  <div class="spacer"></div>
  <swiper [pagination]="true">
    <ng-template swiperSlide>
      <div class="model-img social">
        <div class="label">social</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/social/14.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/social/15.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/social/16.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/social/17.jpg">
    </ng-template>
  </swiper>
  <div class="spacer"></div>
  <swiper [pagination]="true">
    <ng-template swiperSlide>
      <div class="model-img emotional">
        <div class="label">emotional</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/emotional/18.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/emotional/19.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/emotional/20.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/emotional/21.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/emotional/22.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/img/emotional/23.jpg">
    </ng-template>
  </swiper>
</ion-content>
