<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>  
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>           
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="mission">
      <div class="secondary">we cultivate</div>
      <div class="primary">curiosity</div>
      <div class="secondary">curiosity ignites</div>
      <div class="primary">motivation</div>
      <div class="secondary">motivation promotes</div>
      <div class="primary">child-led learning</div>
    </div>
  </div>
</ion-content>
