<ion-content>
  <div class="top">
    <ion-toolbar class="toolbar hide-l">
      <img slot="start" src="assets/img/stoneybrook-logo.png">
      <ion-buttons slot="end">
        <ion-menu-button color="light" autoHide="false"></ion-menu-button>
      </ion-buttons>           
    </ion-toolbar>
    <app-web-header class="hide-s" [transparent]="true"></app-web-header>
  </div>
  <h2 class="model">We advocate for childhood through our play-based, curiosity-led approach to education.</h2>
  <div class="video">
    <iframe *ngIf="playVideo" src="https://player.vimeo.com/video/783980160?h=6ee0d9ebc2&amp;autoplay=1" width="100%" height="100%" frameborder="0" allow="autoplay"></iframe>
    <ng-container *ngIf="!playVideo">
      <div class="background-img"></div>
      <div class="overlay" tappable (click)="playVideo = true">
        <ion-icon name="play-circle-outline"></ion-icon>
      </div>
    </ng-container>
  </div>
  <h2 class="model-white">our studio</h2>
  <div class="slide-container">
    <ion-icon class="back" name="chevron-back-circle-outline" tappable (click)="slideBack()"></ion-icon>
    <ion-icon class="forward" name="chevron-forward-circle-outline" tappable (click)="slideForward()"></ion-icon>
    <swiper [pagination]="true" [config]="slideOpts">
      <ng-template swiperSlide *ngFor="let pic of slideshow; let index = index">
        <img src="assets/img/slideshow/{{index + 1}}.jpg">
      </ng-template>
    </swiper>
  </div>
  <div class="bottom">
    <ion-button mode="ios" color="primary">schedule a tour</ion-button>
  </div>
</ion-content>
