ion-toolbar {
    img {
        height: 80px;
    }
    ion-button {
        font-size: large;
    }
}
.transparent {
    --background: rgba(0, 0, 0, .5) !important;
    box-shadow: 0 0 15px 20px #00000080 !important;
}
a {
    color: var(--ion-color-primary-contrast);
}
.instagram {
    position: relative;
    top: 3px;
    font-size: 22px;
}