<ion-toolbar class="toolbar" color="primary">
  <!-- large screen layout -->
  <ion-row class="hide-s ion-align-items-center">
    <ion-col size="4" class="ion-padding-start">
      <small>&#169; 2025 Stoneybrook Community School.<br>All Rights Reserved.</small>
    </ion-col>
    <ion-col size="3">
      579 S Main St<br>
      Kaysville, UT 84037
    </ion-col>
    <ion-col size="4">
        <a href="mailto:anna@stoneybrookschool.com">anna&#64;stoneybrookschool.com</a>
    </ion-col>
    <ion-col size="1">
      <a class="instagram" href="https://www.instagram.com/stoneybrookhollow/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </ion-col>
  </ion-row>
  <!-- small screen layout -->
  <ion-row class="hide-l ion-align-items-center">
    <ion-col size="8">
      <small>&#169; 2025 Stoneybrook Community School.<br>All Rights Reserved.</small>
    </ion-col>
    <ion-col size="2.5" class="ion-text-left">
      <a href="/contact">Contact</a>
    </ion-col>
    <ion-col size="1.5" class="ion-text-center">
      <a class="instagram" href="https://www.instagram.com/stoneybrookhollow/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </ion-col>
  </ion-row>       
</ion-toolbar>