<ion-header class="hide-l">
  <ion-toolbar>
    <ion-title>classes</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-web-header class="hide-s"></app-web-header>
  <img class="hide-l" src="assets/img/learn-main.jpg">
  <h1>preschool & kindergarten program</h1>
  <section>
    <div class="explanation">
      <p>
        Our Preschool & Kindergarten program at Stoneybrook Community School is a nature-based, Reggio Emilia-inspired learning experience designed to foster curiosity, creativity, and independence in young children. Through hands-on exploration, project-based learning, and outdoor play, children develop critical thinking skills, social-emotional growth, and a love for learning. The program emphasizes child-led activities, allowing each child to explore and discover at their own pace, while being supported by a nurturing and experienced teaching team.
      </p>
    </div>
    <img class="hide-s" src="assets/img/learn-main.jpeg">
  </section>
  <h1>home school hybrid program</h1>
  <section>
    <div class="explanation">
      <p>
        We value research-based, best practice in Early Childhood Education: Children learn best through PLAY! But what exactly are they learning? 
      </p>
    </div>
    <img class="hide-s" src="assets/img/learn-main.jpeg">
  </section>
</ion-content>
