<ion-header class="hide-l">
  <ion-toolbar>
    <ion-title>classes</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-web-header class="hide-s"></app-web-header>
  <img class="hide-l" src="assets/img/early-class.webp">
  <h1>preschool & kindergarten program</h1>
  <section>
    <div class="explanation">
      <p>
        Our Preschool & Kindergarten program at Stoneybrook Community School is a nature-based, Reggio Emilia-inspired learning experience designed to foster curiosity, creativity, and independence in young children. Through hands-on exploration, project-based learning, and outdoor play, children develop critical thinking skills, social-emotional growth, and a love for learning.
      </p>
      <p>
        The program emphasizes child-led play, allowing each child to explore and discover at their own pace, while being supported by a nurturing and experienced teaching team.
      </p>
      <p>
        Children will gain all the skills they need to thrive, as defined by the <a href="https://www.uen.org/core/">Utah Core</a>, but will do so in a play-based, child-led and meaningful way.
      </p>
      <p>
        We honor childhood and celebrate children for who they are right now. Because of this, we do not over-emphasize “school readiness”. That being said, your preschooler will be ready for Kindergarten and your Kindergartener will be ready for First Grade.
      </p>
      <p>
        Our students trade off between Studio Days and Forest Days. Studio Days include indoor time in our Reggio-inspired classroom  as well as time outside at our playscape on the property. Forest Days are spent at the Gailey Trail. Parents will pick up and drop off from Nicholls Park on Forest Days. We have four classes to choose from: Juniper, Aspen, Maple and Oak.
      </p>
      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <img class="schedule" src="assets/img/schedule.jpg">
        </ion-col>
      </ion-row>
    </div>
    <img class="hide-s" src="/assets/img/cameron.jpeg">
  </section>
  <img class="hide-l" src="/assets/img/older-class.webp">
  <h1>home school hybrid program</h1>
  <ion-row class="ion-align-items-center">
    <ion-col class="hide-s">
      <img src="/assets/img/older-class.webp">
    </ion-col>
    <ion-col>
      <p>
        Our homeschool hybrid program at Stoneybrook Community School is built around the belief that learning should be rich, meaningful, and deeply connected to the world around us.
      </p>
      <p>
        By prioritizing best educational practices, our program is designed to engage children in hands-on, project-based experiences that are relevant and exciting. We want every child to build a strong sense of community, where collaboration and meaningful relationships are at the core of their daily interactions.
      </p>
      <p>
        Through local exploration and real-world connections, students develop their sense of citizenship, which fosters a love for our community and their place within it.
      </p>
      <p>
        Above all, our program strives to ignite a lifelong love of learning and personal growth, encouraging children to embrace challenges and discover the joy of childhood.
      </p>
    </ion-col>
  </ion-row>
  <img class="hide-l" src="/assets/img/dig.jpeg">
  <ion-row class="ion-align-items-center">
    <ion-col>
      <p>
        We have two programs to choose from: our 1-day Explorers Club or a 3-day Wayfinders Program.
        <ion-row class="ion-margin-top">
          <ion-col>
            <a href="https://drive.google.com/file/d/1O9V-Up9L_XGJfDtnx06nebr5PyuN5pB9/view?usp=drive_link" target="_blank">Explorers Sample Schedule</a>
          </ion-col>
          <ion-col>
            <a href="https://drive.google.com/file/d/1ILKO1qo3lYBp4RRIa6LNrEmIrvh-Somb/view?usp=sharing" target="_blank">Wayfinders Sample Schedule</a>
          </ion-col>
        </ion-row>
      </p>
      <img class="schedule" src="assets/img/homeschool-hybrid.jpg">
    </ion-col>
    <ion-col class="hide-s">
      <img src="/assets/img/dig.jpeg">
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
