<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/david3.jpg">
    <ion-card-content>
      All my life I've been in the shop. If we needed something my first instinct is what will it take to build it, not where I can buy it. -David Christensen
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/hand.jpg">
    <ion-card-header>
      <ion-card-subtitle>Our Mission</ion-card-subtitle>
      <ion-card-title>Create something unique and beautiful for each and every one of our clients.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>We believe woodworking is an art.  Ezra Furniture Co. gives its clients the opportunity to design the home of their dreams.  Furniture is the life blood of any interior design, so let us build something that will last more then a lifetime.</p>
      <p>David started Ezra Furniture Co in 2018 after growing up in the woodshop. His father worked at a cabinet shop then ran a hardwood floor company so David was exposed to woodworking since he was a child. </p>
    </ion-card-content>
  </ion-card>
</ion-content>
