<ion-header class="hide-l">
  <ion-toolbar>
    <ion-title>about</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-web-header class="hide-s"></app-web-header>
  <h1>our team</h1>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="4" sizeXl="4">
        <ion-card>
          <img alt="Miss Anna portrait" src="assets/img/about/anna.png" />
          <ion-card-header>
            <ion-card-title>Miss Anna</ion-card-title>
            <ion-card-subtitle>Owner, Director & Teacher</ion-card-subtitle>
          </ion-card-header>
          <ion-button color="seconary" fill="clear" (click)="scroll(anna)">Read bio</ion-button>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="4" sizeXl="4">
        <ion-card>
          <img alt="Miss Aubrie portrait" src="assets/img/about/aubrie.jpg" />
          <ion-card-header>
            <ion-card-title>Miss Aubrie</ion-card-title>
            <ion-card-subtitle>Assistant Director & Teacher</ion-card-subtitle>
          </ion-card-header>
          <ion-button color="seconary" fill="clear" (click)="scroll(aubrie)">read bio</ion-button>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="4" sizeXl="4">
        <ion-card>
          <img alt="Miss Aubrie portrait" src="assets/img/about/whitney.jpg" />
          <ion-card-header>
            <ion-card-title>Miss Whitney</ion-card-title>
            <ion-card-subtitle>Wayfinders Program Teacher</ion-card-subtitle>
          </ion-card-header>
          <ion-button color="seconary" fill="clear" (click)="scroll(whitney)">read bio</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2 #anna>
    Miss Anna<br>
    <small>Owner & Director & Teacher</small>
  </h2>
  <img class="hide-l" src="assets/img/about/anna.png">
  <section>
    <img class="hide-s" src="assets/img/about/anna.png">
    <div>
      <p>Anna spent her childhood in the rural outskirts of Grantsville, Utah, where she spent hours wrapped up in elaborate imaginative play, usually involving some combination of Barbie dolls, cardboard, and her mom’s fabric box.</p>
      <p>As an adult, she received her bachelor's degree in human development with a minor in international development, where she focused on issues in childhood development and education. She is particularly passionate about innovative education, which is what inspired her to found Stoneybrook Hollow.</p>
      <p>Anna is trained in the Montessori philosophy and was the lead guide in the primary classroom at Lighthouse Montessori Academy in Provo. Following her time there, she had the opportunity to create the early childhood studio at Choice Academy in Bountiful. She was the lead guide there, where she honed her Montessori skills and experimented with innovative ideas in education, including the principles of Reggio Emilia.</p>
      <p>She now resides in Kaysville, with her husband, Davis, and her two young children. They love trying new foods, playing board games, tackling home renovation projects and having impassioned conversations about their dreams!</p>
    </div>
  </section>
  <h2 #aubrie>
    Miss Aubrie<br>
    <small>Assistant Director & Teacher</small>
  </h2>
  <img class="hide-l" src="assets/img/about/aubrie.jpg">
  <section>
    <div>
      <p>Aubrie spent her childhood in the small town of Monroe, Utah, where her time was filled with hiking mountains, climbing trees, chasing butterflies and swimming in the surrounding lakes. If she wasn’t adventuring outdoors, she was spending time in her dad’s classroom, pretending to be a teacher herself.</p>
      <p>Her love for learning and educating was solidified when she graduated high school and began working at a Montessori-inspired preschool. This opened her eyes to child-led learning and developed her passion to create individualized learning based on each child. During this time, Aubrie received her certification in Montessori and was able to shadow at a few of Utah’s top Montessori schools.</p>
      <p>She now lives in Layton, Utah with her husband, Chris and 4-year-old twins, Haddie and Hendrik. Becoming a mom has given Aubrie a deeper appreciation for childhood and the joy children create. She is excited to be a positive, encouraging guide at Stoneybrook Hollow!</p>
    </div>
    <img class="hide-s" src="assets/img/about/aubrie.jpg">
  </section>
  <h2 #whitney>
    Miss Whitney<br>
    <small>Wayfinders Program Teacher</small>
  </h2>
  <img class="hide-l" src="assets/img/about/whitney.jpg">
  <section>
    <img class="hide-s" src="assets/img/about/whitney.jpg">
    <div>
      <p>Whitney spent her childhood building rivers in the sandbox, collecting rocks in her red wagon, and rollerblading through the neighborhood. She loved designing wooden train villages and imagining new worlds - early signs of her passion for hands-on learning.</p>
      <p>She earned a Bachelor of Science in Elementary Education from Utah State University and has spent over seven years as an educator. She began as an Upper Elementary Lead Guide at Cypress Junction Montessori, later working as a private tutor and a lead teacher at The Learning Bee School, specializing in small group instruction and supporting neurodivergent learners.</p>
      <p>Whitney holds an Elementary II Montessori credential and is a licensed educator with her Reading Endorsement. She is passionate about child-led learning and is excited to inspire curiosity and creativity at Stoneybrook!</p>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>
