ion-content {
    --background: white;
  }
  ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary);
      --color: white;
    }
  }
  ion-menu {
    --background: var(--ion-color-primary);
    ion-content {
      --background: var(--ion-color-primary);
      ion-item {
        --background: var(--ion-color-primary);
        color: white;
      }
    }
  }
  ion-button {
    font-family: "Raleway" !important;
  }
  ion-title {
    font-family: 'Raleway';
  }

ion-card {
  ion-card-title {
    font-family: 'Dawning of a New Day';
    font-size: xx-large;
  }
  ion-card-subtitle {
    font-family: 'Lora';
  }
}

h1 {
    font-family: "Lora";
}
h2 {
    font-family: "Lora";
}
@media (max-width: 768px) {
    .hide-s {
        display: none !important;
    }
    h1 {
        font-size: xx-large;
    }
    h2 {
        font-size: x-large;
    }
}
@media (min-width: 769px) {
    .hide-l {
        display: none !important;
    }
    h1 {
        font-size: xx-large;
    }
    h2 {
        font-size: xx-large;
    }
}