.main-image {
    height: 100%;
    width: 100%;
    opacity: .74;
    background-image: url('../../../assets/img/contact.jpg');
    background-position: top 0px left 0px;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    h1 {
        margin: 0px;
        padding: 15px;
        width: 100%;
        color: white;
    }
    .brown-box {
        padding: 10px;
        background-color: #bb9d97b7;
        p {
            color: white;
            text-align: center;
            margin: 0px;
            font-size: 20px;
            font-family: 'Raleway';
        }
        .contact-buttons {
            padding: 10px;
            padding-bottom: 0px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            ion-button {
                width: 30%;
                font-size: 18px;
                --border-radius: 0px;
                font-family: 'Raleway';
                ion-icon {
                    font-size: 24px;
                }
            }
        }
        .info {
            border: 1px solid white;
            width: 400px;
            margin: 20px auto;
            padding: 20px;
            font-size: 1.5em;
            color: white;
        }
    }
}