<ion-header class="hide-l">
  <ion-toolbar>
    <ion-title>contact</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-web-header class="hide-s"></app-web-header>
  <div class="main-image">
    <div class="brown-box">
      <h1>we can't wait to meet you!</h1>
      <p>For questions or to apply, please contact Anna Crabb.</p>
      <div class="hide-l contact-buttons">
        <ion-button fill="outline" color="light" size="small" href="tel:4358402031">
          <ion-icon slot="start" name="call"></ion-icon>
          call
        </ion-button>
        <ion-button fill="outline" color="light" size="small" href="sms:4358402031">
          <ion-icon slot="start" name="chatbubbles"></ion-icon>
          text
        </ion-button>
        <ion-button fill="outline" color="light" size="small" href="mailto:annac895@gmail.com">
          <ion-icon slot="start" name="mail"></ion-icon>
          email
        </ion-button>
      </div>

      <div class="info hide-s">
        <div class="item"> Call or Text: 435-840-2031 </div>
        <div class="item"> Email: annac895@gmail.com </div></div>
    </div>
  </div>
</ion-content>
