<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-image">
    <h1>we can't wait to meet you!</h1>
    <div class="brown-box">
      <p>For questions or to apply, please contact Anna Crabb.</p>
      <div class="contact-buttons">
        <ion-button fill="outline" color="light" size="small" href="tel:4358402031">
          <ion-icon slot="start" name="call"></ion-icon>
          call
        </ion-button>
        <ion-button fill="outline" color="light" size="small" href="sms:4358402031">
          <ion-icon slot="start" name="chatbubbles"></ion-icon>
          text
        </ion-button>
        <ion-button fill="outline" color="light" size="small" href="mailto:annac895@gmail.com">
          <ion-icon slot="start" name="mail"></ion-icon>
          email
        </ion-button>
      </div>
    </div>
  </div>
  <!-- <div class="top">
    <img src="assets/img/girl-reaching.jpg">
    <div class="contact-buttons">
      <ion-button expand="block" color="light" href="tel:4358402031">
        <ion-icon slot="start" name="call"></ion-icon>
        Call
      </ion-button>
      <ion-button expand="block" color="light" href="sms:4358402031">
        <ion-icon slot="start" name="chatbubbles"></ion-icon>
        Text
      </ion-button>
    </div>
  </div>
  <p class="pink">To apply or to ask further questions, please call or text Anna Crabb at <a tappable (click)="copyPhone()">435-840-2031</a> to set up an interview. We want to make sure this unique learning environment is a good fit for your family.</p> -->
</ion-content>
