.top {
    position: relative;
    h1 {
        margin: 0px;
        position: absolute;
        top: 15px;
        left: 0;
        z-index: 2;
        text-align: center;
        padding: 15px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        font-size: 44px;
    }
    .contact-buttons {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px;
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        ion-button {
            width: 45%;
            font-size: 24px;
        }
    }
}
.pink {
    position: relative;
    z-index: 3;
    top: -2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    background-color: #a87681;
    color: white;
    font-size: 24px;
    line-height: 1.2em;
    a {
        color: white;
    }
}