h1 {
    background: var(--ion-color-secondary);
    color: white;
    text-align: center;
    padding: 30px 0px;
    font-size: xx-large !important;
}
h2 {
    background: var(--ion-color-primary-shade);
    color: white;
    text-align: center;
    padding: 20px 0px;
    margin: 0px;
}
.explanation {
    width: 100%;
}
section {
    display: flex;
    align-items: center;
    font-family: 'raleway';
    img {
        width: 50%;
    }
    .first-pic {
        width: 100%;
        max-height: 800px;
        min-height: 200px;
        background-image: url('/assets/img/learn-main.jpg');
        background-position: center;
        background-size: cover;
    }
}
p {
    font-size: x-large;
    padding: 0px 30px;
    line-height: 1.2em;
}
.topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}