<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor="let faq of faqs" [value]="faq.question" toggle-icon="arrow-down-circle">
      <ion-item slot="header">
        <ion-label>{{ faq.question }}</ion-label>
      </ion-item>
      <p slot="content">
        {{ faq.answer }}
      </p>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
