P {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.3em;
}
ion-content {
  font-family: "Raleway" !important;
}
ion-label {
  font-family: "Raleway" !important;
  font-size: 18px !important;
}